body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
 body {
  background-image: url("/static/images/emergency.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* Navbar */
nav {
    background: #ac0606;
    padding: 10px;
    text-align: center;
    
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 23px;
}

/* Form Styling */
.form-container {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(251, 251, 251, 0.70); /* White with 50% opacity */
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-top: 50px;
}

 select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}


button {
    background: #ac0606;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background: #12711c;
}
